<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daffolapmac.wealthbook">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screen.splash.view.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.home.view.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.login.view.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.news.view.NewsDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.adviserprofile.view.AdviserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.forgotpassword.view.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.updates.view.UpdateDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.detailportfolio.view.PortfolioDetailActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>