<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wealthbook.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screen.splash.view.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.home.view.HomeActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".screen.login.view.LoginActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".screen.news.view.NewsDetailsActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".screen.adviserprofile.view.AdviserProfileActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".screen.forgotpassword.view.ForgotPasswordActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".screen.updates.view.UpdateDetailsActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".screen.detailportfolio.view.PortfolioDetailActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".screen.advisoragreement.view.UserAgreementActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".screen.stockeod.view.StockEodActivity"
            android:configChanges="orientation|screenSize" />

        <service android:name=".notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>